<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @swetha.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @swetha.description %>
</p>

<%= link_to 'Edit', edit_swetha_path(@swetha) %> |
<%= link_to 'Back', swethas_path %>
